
{% assign collectionName = collection %}
<div onclick="renderParentMenuCol()" class="tw-flex lg:tw-hidden tw-items-center tw-justify-start tw-w-full tw-mt-3">
    <img class="tw-max-w-[25px] tw-mr-4" src="https://cdn.shopify.com/s/files/1/0248/4705/6932/files/megamenun-arrow.webp?v=1685724516">
    <span class="tw-text-xl">Regresar</span>
</div>

<div>
    <ul class="menu">
        {% for link in section.settings.menu.links %}
            <li class="tw-list-none tw-my-5">
                {% if link.title == collectionName %}
                    <li class="tw-list-none menu-link">
                        <a class="tw-text-base lg:tw-text-xl tw-text-[#292929] tw-font-lora tw-font-semibold" href="{{ link.url }}">Colección {{ link.title }}</a>
                        {% if link.links.size > 0 %}
                        <ul class="menu dropdown-child">
                            {% for child_link in link.links %}
                            <li class="tw-list-none menu-link tw-my-5">
                                <a class="tw-text-[#292929] tw-font-semibold" href="{{ child_link.url }}">{{ child_link.title }}</a>
                                {% if child_link.links.size > 0 %}
                                <ul class="menu dropdown-grandchild tw-mt-4">
                                    {% for grandchild_link in child_link.links %}
                                    <li class="tw-list-none menu-link tw-px-3 hover:tw-underline hover:tw-underline-offset-4 hover:tw-decoration-4 hover:tw-decoration-amarillo">
                                        <a class="tw-text-[#292929]" href="{{ grandchild_link.url }}">{{ grandchild_link.title }}</a>
                                    </li>
                                    {% endfor %}
                                </ul>
                                {% endif %}
                            </li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </li> 
                {% else %}
            {% endif%}
            </li>
        {% endfor %}     
    </ul>
</div>