<label class="d-block margin-bottom-05 c3-c body-text lh-normal tw-text-xl tw-font-semibold tw-text-black" for="gift">Incluye regalo:</label>
<input-gift class="subcomponent-gift__container position-relative" style="display: none;">
  <div class="subcomponent-gift__tag c4-bk c8-c br-4 position-absolute">
    <p class="fs-14-14 fw-semibold padding-right-1 padding-left-1">Gratis</p>
  </div>
  <div class="subcomponent-gift__border br-4 position-absolute"></div>
  <div class="subcomponent-gift__body d-flex align-items-center position-relative">
    <div gift_img class="subcomponent-gift__img position-relative">
      {% for data in product.metafields.general.gift.value.data %}
        <img trigger="{{data.trigger}}" loading="lazy" width="auto" height="auto" class="lozad transition-opacity-zindex-03 {% if forloop.first == true %}active{% endif %}" src="{{ data.image.name | file_img_url: 'master' }}">
      {% endfor %}
    </div>
    
    <div class="tw-w-full tw-flex tw-flex-col">
      <div class="tw-w-full">
        <p class="fs-13-18 fw-semibold"><b class="c1-c" gift_title>Producto de regalo</b></p>
        <p class="fs-13-16 fw-regular" gift_subtitle>Tamaño</p>
      </div>
      <div class="tw-w-full tw-flex tw-flex-col tw-grid tw-grid-cols-2 tw-gap-x-5">
        <div class="tw-w-full tw-text-xl tw-font-bold tw-text-black">Ahorras:</div>
        <div class="tw-w-ful tw-text-xl tw-font-normal tw-text-gris" gift_compare_price>Precio</div>
      </div>
      <div class="tw-w-full tw-flex tw-flex-col tw-grid tw-grid-cols-2 tw-gap-x-5">
        <div class="tw-w-full tw-text-xl tw-font-bold tw-text-black">Total:</div>
        <div class="tw-w-ful tw-text-xl tw-font-bold tw-text-black" gift_price>Precio final</div>
      </div>
    </div>

    {% comment %} <div class="subcomponent-gift__info d-flex justify-content-between">
      <div class="subcomponent-gift__name">
        <p class="fs-13-18 fw-semibold"><b class="c1-c" gift_title>Producto de regalo</b></p>
        <p class="fs-13-16 fw-regular" gift_subtitle>Tamaño</p>
      </div>
      <div class="subcomponent-gift__prices text-end">
        <p class="fs-13-16 fw-regular text-decoration-line-through" gift_compare_price>Precio</p>
        <p class="fs-13-18 fw-semibold c1-c" gift_price>Precio final</p>
      </div>
    </div> {% endcomment %}
  </div>
  <script type="application/json" gift_handler>
    {{ product.metafields.general.gift.value | json}}
  </script>
  <script type="application/json" gift_product>
    {% assign gift_product = all_products[product.metafields.general.gift.value.product_gift_handle] %}
    {
      "id": {{ gift_product.id }},
      "title": "{{ gift_product.title }}",
      "variants": [
        {% for variant in gift_product.variants %}
          {
            "id": "{{ variant.id }}",
            "title": "{{ gift_product.title }}",
            "variant_title": "{{ variant.title }}",
            "available": {{ variant.available }},
            "price": {{ variant.price }},
            "compare_at_price": {{ variant.compare_at_price }}
          }
          {% if forloop.last == false %},{% endif %}
        {% endfor %}
      ]
    }
  </script>
</input-gift>

<script type="module" src="{{ 'smart-main-input-gift-dist.js' | asset_url }}" defer="defer"></script>