
{% capture VideoOne %}
 {% render 'smart-snippet-video-one' %} 
{% endcapture %}

{% capture VideoTwo %}
 {% render 'smart-snippet-video-two' %} 
{% endcapture %}

{% capture VideoThree %}
 {% render 'smart-snippet-video-three' %} 
{% endcapture %}

{% capture VideoFour %}
 {% render 'smart-snippet-video-four' %} 
{% endcapture %}

{% capture VideoStart %}
 {% render 'smart-snippet-video-start' %} 
{% endcapture %}


{% comment %} PROPUESTA 2 SECCIÓN DE VIDEOS {% endcomment %}
<section class="tw-flex tw-justify-center tw-items-center tw-my-5 lg:tw-my-12 tw-px-5 md:tw-px-10 tw-mt-16 xl:tw-mt-0 tw-drop-shadow-md">
  <div class="tw-w-full tw-max-w-[1300px] tw-flex tw-flex-col tw-bg-[#ECE9E6] tw-rounded-lg">

    <h2 class="tw-text-center tw-text-xl md:tw-text-3xl tw-pt-6 tw-px-8 tw-text-[#434f5a] tw-font-normal ">
      Diseñados para mejorar tu descanso, hechos para que te duren <br class="tw-hidden lg:tw-block"><span class="tw-font-semibold">y te cuiden por mucho tiempo.</span>
    </h2>

    <div class="tw-grid tw-grid-cols-12 tw-p-4 xl:tw-p-8">
      {% comment %} texto 1 {% endcomment %}
      <div class="tw-hidden xl:tw-block xl:tw-grid grid-cols-none xl:tw-col-span-4"> 
        <div class="tw-flex tw-flex-col tw-justify-center tw-items-center tw-p-6">
          <p class="tw-font-poppins tw-text-normal tw-font-normal tw-text-[#434f5a] tw-text-left">
            Nos importa brindarte los mejores productos para tu descanso, utilizando la máxima calidad en nuestros productos y la última tecnología. ¡Olvídate del estrés, la ansiedad, los dolores de espalda y el mal descanso, y descubre los increíbles resultados que tenemos para ti.
          </p>
          <p class="tw-font-poppins tw-text-xl tw-font-medium tw-text-[#434f5a] tw-text-center tw-pt-4">
            ¡Descansa como siempre habías soñado!
          </p>
        </div>
      </div>

      {% comment %} vídeo principal {% endcomment %}
      <div class="tw-grid tw-col-span-12 xl:tw-col-span-6 tw-rounded-lg lg:tw-max-h-[350px]"> 
        <div id="defaultContentVideoHome">{{ VideoOne }}</div>
        <div style="display:none;" id="NewVideoContentTwo">{{ VideoTwo }}</div>
        <div style="display:none;" id="NewVideoContentThree">{{ VideoThree }}</div>
        <div style="display:none;" id="NewVideoContentFour">{{ VideoFour }}</div>
        <div style="display:none;" id="NewVideoContentStart">{{ VideoStart }}</div>
      </div>

      {% comment %} vídeos secundarios {% endcomment %}
      <div class="tw-grid tw-col-span-12 xl:tw-col-span-2 lg:tw-max-h-[350px] tw-overflow-auto">

        <div class="tw-grid tw-grid-cols-4 xl:tw-grid-cols-1 tw-gap-3 tw-py-2 xl:tw-px-6 tw-overflow-x-visible xl:tw-overflow-y-visible">
          {% comment %} Video 2 {% endcomment %}
          <button onclick="renderVideoTwo()" class="tw-h-full tw-w-full tw-rounded-lg tw-snap-start tw-h-[100px] tw-bg-[url('https://cdn.shopify.com/s/files/1/0248/4705/6932/files/Portada-NanoCool-Home_1.webp?v=1676391074')] tw-bg-no-repeat tw-bg-center tw-bg-cover">
          </button>

          {% comment %} Video 3 {% endcomment %}
          <button onclick="renderVideoThree()" class="tw-h-full tw-w-full tw-rounded-lg tw-snap-start tw-h-[100px] tw-bg-[url('https://cdn.shopify.com/s/files/1/0248/4705/6932/files/Portada-Pijama-Home_1.webp?v=1676391079')] tw-bg-no-repeat tw-bg-center tw-bg-cover">
          </button>

          {% comment %} Video 4 {% endcomment %}
          <button onclick="renderVideoFour()" class="tw-h-full tw-w-full tw-rounded-lg tw-snap-start tw-h-[100px] tw-bg-[url('https://cdn.shopify.com/s/files/1/0248/4705/6932/files/Portada-Bliss.webp?v=1676391082')] tw-bg-no-repeat tw-bg-center tw-bg-cover">
          </button>

          {% comment %} Video inicial {% endcomment %}
          <button onclick="renderVideoStart()" class="tw-h-full tw-w-full tw-rounded-lg tw-snap-start tw-h-[100px] tw-bg-[url('https://cdn.shopify.com/s/files/1/0248/4705/6932/files/SmartBamboo-Preview-Video-min.webp?v=1659899197')] tw-bg-no-repeat tw-bg-center tw-bg-cover">
          </button>

        </div> 
      </div>
    </div>
  
  </div>
</section>