<style>

  .card-wall {
    background: rgba(255, 255, 255, 0);
  }

  .card-wall:hover {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgb(0 0 0 / 40%) 0%, rgb(255 255 255 / 0%) 100%);
  }

  #product-testimonials .flickity-button.previous {
      left: 0px !important;
  }
  #product-testimonials .flickity-button.next {
      right: 0px !important;
  }

  @media  only screen and (max-width: 9999px) and (min-width: 1024px) {
    #product-testimonials .flickity-button.previous { left: -60px !important; }
    #product-testimonials .flickity-button.next { right: -60px !important; }
  }

  .sliderly .flickity-viewport {
    height: 500px !important;
  }

  .card-info {
    position: relative;
    bottom: 471px;
    width: 100% !important;
    height: 448px;
  }

</style>

<section class="tw-px-3 lg:tw-px-10 tw-py-0 lg:tw-py-8 tw-bg-cremita">
    <div id="product-testimonials">
        {% capture slider_options %}
          data-flickity='{
            "cellAlign": "left",
            "contain": true,
            "pauseAutoPlayOnHover": false,
            "prevNextButtons": true,
            "pageDots": false,
            "lazyLoad": true,
            "lazyLoad": 4
          }'
        {% endcapture %}
        <section class="sliderly tw-w-full tw-max-w-[400px] lg:tw-max-w-[1000px] xl:tw-max-w-[1200px] tw-mx-auto">
          <div class="tw-w-[93%] lg:tw-w-full tw-max-w-[1300px] tw-mb-[70px] tw-mx-auto">
            <div class="tw-full" {{ slider_options }}>
        
              {% for block in section.blocks %}
                <div class="card-testimonial tw-w-[100%] sm:tw-w-95%] lg:tw-w-[33%] tw-mx-1">
                  <img
                    width="auto"
                    height="auto"
                    class="tw-w-full tw-h-[448px] tw-transition-opacity tw-delay-300 tw-duration-1000"
                    alt="{{ block.settings.category_name }}"
                    data-flickity-lazyload="{{ block.settings.category_image | image_url: width: 400 }}">
                  <div class="card-info tw-block tw-w-full lg:tw-w-[100%] tw-my-5">
                    <div class="card-wall tw-w-full tw-h-[100%] tw-flex tw-justify-center tw-items-center">
                      <div class="tw-h-[20%] tw-w-2/3">
                        <h2 class="tw-font-poppins tw-px-5 tw-text-center tw-text-white tw-text-xl tw-font-semibold">
                          {{ block.settings.category_name }}
                        </h2>
                        <a href="{{ block.settings.category_url }}">
                          <button class="tw-w-3/6 tw-font-poppins tw-block tw-mx-auto tw-text-white tw-px-5 tw-text-sm tw-font-medium tw-mt-2 tw-text-center tw-border-solid tw-border-2 tw-border-inherit tw-rounded-lg">
                            Ver más
                          </button>
                        </a>
                      </div>
                    </div>
                  </div>  
                </div>
              {% endfor %}
        
            </div>
          </div>
        </section>
      </div>
</section>

{% schema %}
{
  "name": "Product Meta Testimonials",
  "settings": [
    {
      "type": "text",
      "id": "section_title",
      "label": "Testimonials"
    }
  ],
  "blocks": [
    {
      "type": "testimonial",
      "name": "Testimonials",
      "settings": [
        {
          "type": "image_picker",
          "id": "category_image",
          "label": "Category Image"
        },
        {
          "type": "text",
          "id": "category_url",
          "label": "URL Category"
        },
        {
          "type": "text",
          "id": "category_name",
          "label": "Category Name"
        }
      ]
    }
  ]
}
{% endschema %}


    
    