<link rel="stylesheet" href="{{ 'smart-main-product-grid.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'smart-main-product-grid.css' | asset_url | stylesheet_tag }}</noscript>
<link rel="stylesheet" href="{{ 'smart-product-text-options.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'smart-product-text-options.css' | asset_url | stylesheet_tag }}</noscript>
<link rel="stylesheet" href="{{ 'smart-product-text-video.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'smart-product-text-video.css' | asset_url | stylesheet_tag }}</noscript>

<section id="index-section-eight" class="">
{% if section.settings.is_border %}
  <div class="general-container__wrapper padding-section-top tw-transition-opacity tw-delay-300 tw-duration-1000 tw-pt-0" {% if section.settings.background != blank %}style="background: {{ section.settings.background }}"{% endif %}>
    <div class="general-container__container">
      <div class="responsive-padding">
        <div class="spacer c14-b"></div>
      </div>
    </div>
  </div>
{% endif %}
{% if section.settings.main_title != blank %}
  <div class="general-container__wrapper padding-section-top" {% if section.settings.background != blank %}style="background: {{ section.settings.background }}"{% endif %}>
    <div class="general-container__container">
      <div class="text-center">
        <h2 class="c2-c body-text fs-24-32 fw-semibold lh-normal responsive-padding tw-transition-opacity tw-delay-300 tw-duration-1000">{{ section.settings.main_title }}</h2>
      </div>
    </div>
  </div>
{% endif %}
<div class="general-container__wrapper padding-section-top padding-section-bottom tw-pt-0" {% if section.settings.background != blank %}style="background: {{ section.settings.background }}"{% endif %}>
  <div class="general-container__container">
    <div class="product-textoption__container main-grid-product responsive-gap align-items-center d-grid {{ section.settings.position }} {% if section.settings.is_ordered %}isOrdered{% endif %}">
      <div class="left product-textoption__header position-relative tw-hidden md:tw-block">
        <picture class="lozad">
          <source srcset="{{ section.settings.image | img_url: '760x' }}" media="(min-width: 1200px)" alt="Smart Bamboo es la línea más innovadora en colchones y accesorios de ropa de cama derivados del bambú">
          <source srcset="{{ section.settings.image | img_url: '1200x' }}" media="(min-width: 992px)" alt="Smart Bamboo es la línea más innovadora en colchones y accesorios de ropa de cama derivados del bambú">
          <source srcset="{{ section.settings.image | img_url: '992x' }}" media="(min-width: 768px)" alt="Smart Bamboo es la línea más innovadora en colchones y accesorios de ropa de cama derivados del bambú">
          <source srcset="{{ section.settings.image | img_url: '768x' }}" media="(min-width: 576px)" alt="Smart Bamboo es la línea más innovadora en colchones y accesorios de ropa de cama derivados del bambú">
          <source srcset="{{ section.settings.image | img_url: '576x' }}" media="(min-width: 360px)" alt="Smart Bamboo es la línea más innovadora en colchones y accesorios de ropa de cama derivados del bambú">
          <source srcset="{{ section.settings.image | img_url: '360x' }}" media="(min-width: 320px)" alt="Smart Bamboo es la línea más innovadora en colchones y accesorios de ropa de cama derivados del bambú">
        </picture>
      </div>
      <div class="right product-textoption__body responsive-padding">
        <div class="product-textoption__info text-center text-xl-start">
          {% if section.settings.secondary_subtitle != blank %}
            <h3 class="tw-hidden md:tw-block c6-c body-text fs-20-22 fw-medium lh-sm">
              {{ section.settings.secondary_subtitle }}
            </h3>
          {% endif %}
          {% if section.settings.secondary_title != blank %}
            <h2 class="c2-c body-text fs-24-32 fw-semibold lh-sm margin-bottom-1">
              {{ section.settings.secondary_title }}
            </h2>
          {% endif %}
          {% if section.settings.secondary_text != blank %}
            <div class="c3-c body-text fs-14-18 lh-normal tw-hidden md:tw-block">
              {{ section.settings.secondary_text }}
            </div>
          {% endif %}
        </div>
        <div class="margin-top-1">
          <div class="d-block position-relative">
            <ul class="product-textvideo-grid__container general-pagination center list-unstyled transition-all-03">
              {% for block in section.blocks %}
                <li class="product-textvideo-grid__element">
                  {% case block.type %}
                    {% when 'image' %}
                      <open-modal open="modal-carousel__{{forloop.index}}" class="cursor-pointer d-block product-textvideo-grid__body position-relative br-4 c1-bk">
                        <img class="image-height w-100 h-100 object-cover lozad" data-src="{{ block.settings.image | img_url: '320x' }}" alt="Smart Bamboo es la línea más innovadora en colchones y accesorios de ropa de cama derivados del bambú">
                      </open-modal>
                    {% when 'video' %}
                      <open-modal open="modal-carousel__{{forloop.index}}" class="cursor-pointer d-block product-textvideo-grid__body position-relative br-4 c1-bk">
                        <div class="position-absolute translate-middle middle">
                          {% render 'smart-icon-play' %}
                        </div>
                        {% if block.settings.image == blank %}
                          {% if block.settings.video.type == 'youtube' %}
                            <img class="object-cover w-100 h-100 lozad" data-src="https://img.youtube.com/vi/{{block.settings.video.id}}/0.jpg" alt="Smart Bamboo Youtube">
                          {% elsif block.settings.video.type == 'vimeo' %}
                            <img class="object-cover w-100 h-100 lozad" data-src="https://vumbnail.com/{{block.settings.video.id}}.jpg" alt="Smart Bamboo">
                          {% endif %}
                        {% else %}
                          <img class="object-cover d-block w-100 h-100 tw-transition-opacity tw-delay-700 tw-duration-1000" data-src="{{ block.settings.image | img_url: "320x" }}" alt="Smart Bamboo es la línea más innovadora en colchones y accesorios de ropa de cama derivados del bambú">
                        {% endif %}
                      </open-modal>
                    {% endcase %}
                </li>
              {% endfor %}
            </ul>
            {% for block in section.blocks %}
              <div index="{{ forloop.index }}" class="modal-container">
                {% case block.type %}
                {% when 'image' %}
                  <main-modal id="modal-carousel__{{forloop.index}}">
                    <div>
                      <div class="main-modal__element remove-box position-relative d-flex flex-wrap justify-content-center">
                        <div>
                          <button class="modal-button position-absolute left" onClick="previous({{forloop.index}}, {{section.blocks.size}})">{% render 'smart-icon-arrow-left' %}</button>
                          <button class="modal-button position-absolute right" onClick="next({{forloop.index}}, {{section.blocks.size}})">{% render 'smart-icon-arrow-right' %}</button>
                        </div>
                        <img class="object-contain d-block" style="max-width: 95%;" ssrc="{{ block.settings.image | img_url: 'master' }}" alt="Smart Bamboo es la línea más innovadora en colchones y accesorios de ropa de cama derivados del bambú">
                      </div>
                      <div class="mx-auto margin-top-1" style="max-width: 250px;">
                        <button class="general-button big c8-c body-text fs-18-20 fw-semibold c1-bk" close="">Cerrar</button>
                      </div>
                    </div>
                  </main-modal>
                {% when 'video' %}
                  <main-modal id="modal-carousel__{{forloop.index}}">
                    <div>
                      <div class="main-modal__element remove-box position-relative">
                        <div>
                          <button class="modal-button position-absolute left" onClick="previous({{forloop.index}}, {{section.blocks.size}})">{% render 'smart-icon-arrow-left' %}</button>
                          <button class="modal-button position-absolute right" onClick="next({{forloop.index}}, {{section.blocks.size}})">{% render 'smart-icon-arrow-right' %}</button>
                        </div>
                        {% if block.settings.video.type == 'youtube' %}
                          <iframe width="100%" height="100%" src="http://www.youtube.com/embed/{{ section.settings.video_url.id }}" frameborder="0" ></iframe>
                        {% elsif block.settings.video.type == 'vimeo' %}
                          <iframe width="100%" height="100%" src="//player.vimeo.com/video/{{ section.settings.video_url.id }}?&portrait=0&byline=0&color={{ settings.accent_color | remove_first: '#' }}" frameborder="0"></iframe>
                        {% endif %}
                      </div>
                      <div class="mx-auto margin-top-1" style="max-width: 250px;">
                        <button class="general-button big c8-c body-text fs-18-20 fw-semibold c1-bk" close="">Cerrar</button>
                      </div>
                    </div>
                  </main-modal>
                {% endcase %}
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
<script src="{{ 'smart-product-text-media.js' | asset_url }}" defer></script>

{% schema %}
{
  "name": "Smart Text Media",
  "settings": [
    {
      "type": "checkbox",
      "id": "is_border",
      "label": "Border Top"
    },
    {
      "type": "color",
      "id": "background",
      "label": "Background"
    },
    {
      "type": "checkbox",
      "id": "is_ordered",
      "label": "Reverse Grid In Responsive"
    },
    {
      "type": "select",
      "id": "position",
      "label": "Position",
      "options": [
        {
          "value": "right",
          "label": "Right"
        },
        {
          "value": "left",
          "label": "Left"
        }
      ]
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "main_title",
      "label": "Main Title"
    },
    {
      "type": "text",
      "id": "secondary_title",
      "label": "Secondary Title"
    },
    {
      "type": "text",
      "id": "secondary_subtitle",
      "label": "Secondary Subtitle"
    },
    {
      "type": "richtext",
      "id": "secondary_text",
      "label": "Secondary Text"
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    },
    {
      "type": "video",
      "name": "Video",
      "settings": [
        {
          "type": "video_url",
          "id": "video",
          "accept": ["vimeo", "youtube"],
          "label": "Video"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    }
  ]
}
{% endschema %}