<style>
    .degraded-builder { animation-name: building-degrade; animation-duration: 2s;}
    .asset-builder { animation-name: building-assets; animation-duration: 3s;}
    .appear-builder { animation-name: building-appear; animation-duration: 4s;}
    
    @keyframes building-degrade {
      0%   {display: none; opacity: 0;}
      25%  {display: none; opacity: 0;}
      50%  {display: block; opacity: 0;}
      100% {display: block; opacity: 1;}
    }  
    
    @keyframes building-assets {
      0%   {display: none;opacity: 0;}
      67%  {display: none; opacity: 0;}
      100% {display: block;opacity: 1;}
    }
    
    @keyframes building-appear {
      0%   {display: none; opacity: 0;}
      25%  {display: none; opacity: 0;}
      25%  {display: none; opacity: 0;}
      75%  {display: block; opacity: 0;}
      100% {display: block; opacity: 1;}
    }
    </style> 
    
    {% assign isDevelop = false %}
    {% comment %} <svg xmlns="http://www.w3.org/2000/svg class="hidden" hidden>
      <symbol id="icon-search" viewbox="0 0 18 19" fill="none">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M11.03 11.68A5.784 5.784 0 112.85 3.5a5.784 5.784 0 018.18 8.18zm.26 1.12a6.78 6.78 0 11.72-.7l5.4 5.4a.5.5 0 11-.71.7l-5.41-5.4z" fill="currentColor"/>
      </symbol>
      <symbol id="icon-close" class="icon icon-close" fill="none" viewBox="0 0 18 17">
        <path d="M.865 15.978a.5.5 0 00.707.707l7.433-7.431 7.579 7.282a.501.501 0 00.846-.37.5.5 0 00-.153-.351L9.712 8.546l7.417-7.416a.5.5 0 10-.707-.708L8.991 7.853 1.413.573a.5.5 0 10-.693.72l7.563 7.268-7.418 7.417z" fill="currentColor">
      </symbol>
    </svg> {% endcomment %}
    <div style="width:100%; background-color:#ffffff;" class="general-container__wrapper tw-full tw-bg-white tw-shadow-xl degraded-builder">
      <div class="general-container__container tw-w-full tw-m-auto tw-max-w-[1464px] tw-bg-white">
        <div class="general-subnav__wrapper">
          <div class="general-subnav__container tw-flex tw-flex-col tw-grid tw-grid-cols-12 tw-items-center tw-gap-x-1 tw-px-2 xl:tw-px-0">
            <div id="menu-hamburguesa" class="tw-flex lg:tw-hidden tw-col-span-2 tw-w-full {% if isDevelop %}hamburguer__active{% endif %}">
              <nav-hamburguer class="general-subnav-hamburguer__container appear-builder">
                <input type="checkbox" class="general-subnav-hamburguer__input">
                <label class="general-subnav-hamburguer__label">
                  <span class="general-subnav-hamburguer__span transition-transform-03"></span>
                  <span class="general-subnav-hamburguer__span transition-transform-03"></span>
                  <span class="general-subnav-hamburguer__span transition-transform-03"></span>
                </label>
              </nav-hamburguer>
            </div>
            <div id="logo" class="tw-w-full tw-flex tw-col-span-7 lg:tw-col-span-2 tw-items-center tw-justify-center asset-builder">
              <a class="general-subnav-logo__link text-decoration-none tw-text-[#292929]" href="{{ routes.root_url }}">
                {%- if section.settings.logo != blank -%}
                  <img loading="lazy" class="tw-block tw-box-border tw-m-auto tw-w-[100%] xl:tw-w-[80%]" src="{{ 'smart-bamboo-mx-logo.svg' | asset_url }}" alt="Smart Bamboo" width="225" height="auto">
                {%- else -%}
                  <span class="tw-font-poppins tw-text-[#292929] tw-text-base tw-font-normal tw-text-center">{{ shop.name }}</span>
                {%- endif -%}
              </a>
            </div>
            <div id="menu-desktop" style="width:100%;" class="general-subnav-menu__container tw-relative tw-hidden lg:tw-flex tw-col-span-4 lg:tw-col-span-9 xl:tw-col-span-8 tw-w-full tw-justify-center appear-builder">
              {%- if section.settings.menu != blank -%}
                <ul class="general-subnav-menu__list tw-list-none tw-flex tw-w-full">
                  {%- for link in section.settings.menu.links -%}
                    {% if link.url == '#' %}
                      {% continue %}
                    {% endif %}
                    {% if link.title ==  "Ropa de Cama" %}
                      <li class="general-subnav-menu__element">
                        <div class="general-subnav-menu__body text-center remove-box {% if link.current %}active{% endif %} transition-all-03">
                          <p class="general-subnav-menu__link tw-block tw-font-poppins tw-text-[#292929] tw-text-[12px] tw-font-normal tw-text-center tw-no-underline tw-cursor-pointer hover:tw-font-semibold">
                            {{ link.title | escape }}
                          </p>
                        </div>
                        <nav-element class="general-subnav-submenu__container remove-box tw-w-full tw-absolute tw-bg-white tw-shadow-xl tw-drop-shadow-lg tw-shadow-gray-500 {% if isDevelop and link.current %}active{% endif %}">
                          <nav-grid class="general-subnav-submenu__head d-grid tw-max-h-[565px]">
                            <div class="general-subnav-submenu__grided tw-w-full remove-box tw-h-[562px] tw-overflow-auto">
                              <ul class="tw-list-none tw-grid tw-grid-cols-2 tw-gap-x-[10px] tw-gap-y-[0px] tw-tw-overflow-y-visible">
                                {% for child_link in link.links %}
                                  <li class="general-subnav-submenu__element tw-col-span-2 tw-border-0 tw-border-t-2 tw-border-solid tw-border-[#e1dfdf]">
                                    <a class="general-subnav-submenu__link tw-no-underline tw-flex tw-items-center" href="{{ child_link.url }}">
                                      <p class="general-subnav-submenu__name general-subnav-submenu__title transition-all-03 tw-text-[#292929] tw-text-[16px] tw-font-semibold tw-py-2 hover:tw-underline hover:tw-decoration-dotted hover:tw-decoration-gray-400 hover:tw-underline-offset-4"> {{ child_link.title }} > </p>
                                    </a>
                                  </li>
                                  {% for sub_child_link in child_link.links %}
                                    {%- assign product = sub_child_link.object -%}
                                   
                                    <li class="general-subnav-submenu__element link_element" element_menu="{{ product.handle }}">
                                      <a class="general-subnav-submenu__link tw-no-underline tw-flex tw-items-center" href="{{ sub_child_link.url }}">
                                        <p class="general-subnav-submenu__name transition-all-03 tw-font-poppins tw-text-[#666666] tw-text-[14px] tw-font-light tw-py-2">
                                          <span class="tw-font-poppins tw-text-[#666666] tw-text-[14px] tw-font-light tw-py-2 hover:tw-underline">&#8226; {{ sub_child_link.title }}</span>
                                          {% if product.tags contains "Mas Vendido" %}
                                            <span class="tag_element transition-all-03  tw-bg-white tw-py-1 tw-px-4 tw-font-poppins tw-text-[#957161] tw-text-[10px] tw-font-medium tw-rounded tw-border tw-border-solid tw-border-[#957161]  tw-ml-2 hover:tw-bg-[#957161] hover:tw-text-white">Más Vendidos</span>
                                          {% endif %}{% if product.tags contains "Nuevo" %}
                                            <span class="tag_element transition-all-03 tw-bg-white tw-py-1 tw-px-4 tw-font-poppins tw-text-[#957161] tw-text-[10px] tw-font-medium tw-rounded tw-border tw-border-solid tw-border-[#957161] tw-ml-2 hover:tw-bg-[#957161] hover:tw-text-white">Nuevo</span>{% endif %}{% if product.tags contains "Promo" %}<span class="tag_element transition-all-03 tw-bg-white tw-py-1 tw-px-4 tw-font-poppins tw-text-[#957161] tw-ml-2 hover:tw-bg-[#957161] hover:tw-text-white">Promoción</span>{% endif %}</p>
                                      </a>
                                    </li>
                                  
                                  {% endfor %}
                                {% endfor %}
                              </ul>
                            </div>
                            <div class="general-subnav-submenu__grided w-100 remove-box tw-w-full tw-bg-[#f7f7f7]">
                              
                              {% for child_link in link.links %}
                                {% for sub_child_link in child_link.links %}
                                  {%- assign product = sub_child_link.object -%}
    
                                  
                                    <a href="{{ product.url }}" class="general-subnav-submenu__body link_image tw-cursor-pointer" element_menu="{{ product.handle }}">
                                      <div class="tw-relative">
                                        <img loading="lazy" class="tw-w-full lozad" data-src="{{ product.featured_image | img_url: '500x' }} " alt="Smart Bamboo es la línea más innovadora en colchones y accesorios de ropa de cama derivados del bambú">
                                        <div class="tw-flex tw-flex-row tw-justify-center tw-relative tw-bottom-[23px]">
                                          <div class="tw-w-44 tw-bg-amarillo tw-rounded">
                                            {%- assign percent = 0 -%}
                                            {% for option in product.variants %}
                                              {% assign newPercent = option.compare_at_price | minus: option.price | times: 100.0 | divided_by: option.compare_at_price | round %}
                                              {% if percent < newPercent %}
                                                {%- assign percent = newPercent -%}
                                              {% endif %}
                                            {% endfor %}
                                            <p class="tw-font-poppins tw-text-white tw-text-[15px] tw-font-normal tw-text-center tw-py-1.5"><b>{{percent}}%</b> de descuento</p>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="general-subnav-submenu__info tw-mb-8 tw-text-center">
                                        {%- assign oldPrice = product.price -%}
                                        {%- assign originalPrice = product.price -%}
                                        {%- assign isDifferentPrice = false -%}
                                        {% for option in product.variants %}
                                          {% assign newPrice = option.price %}
                                          {% if oldPrice > newPrice %}
                                            {%- assign oldPrice = newPrice -%}
                                          {% endif %}
                                          {% if originalPrice != newPrice %}
                                            {%- assign isDifferentPrice = true -%}
                                          {% endif %}
                                        {% endfor %}
                                        <p class="tw-font-poppins tw-text-[#666666] tw-w-full tw-text-[15px] tw-font-normal tw-text-center tw-py-1 tw-bg-white tw-rounded tw-border tw-border-[1px] tw-border-solid tw-border-gray-200">{{ product.title }} <span class="tw-font-semibold tw-text-[#292929]">{% if isDifferentPrice %}Desde{% endif %} {{ oldPrice | money }}</span></p>
                                      </div>
                                      <div class="general-subnav-submenu__grid remove-box tw-w-full tw-flex tw-justify-between tw-align-items-start">
                                        <div class="tw-text-center">
                                          <img loading="lazy" width="52" height="52" class="lozad tw-h-10 lg:tw-h-14 tw-w-10 lg:tw-w-14" data-src="{{ 'smart-icon-percent.svg' | asset_url }}" alt="3, 6, 12 y 24 MSI">
                                          <p class="tw-font-poppins tw-text-[#434f5a] tw-text-[10px] lg:tw-text-[12px] tw-font-normal tw-mx-2 tw-mt-2">3, 6, 12 y 24 MSI</p>
                                        </div>
                                        {% if product.tags contains "benefit-tech" %}
                                          <div class="tw-text-center">
                                            <img loading="lazy" width="52" height="52" class="lozad tw-h-10 lg:tw-h-14 tw-w-10 lg:tw-w-14" data-src="{{ 'smart-icon-tech.svg' | asset_url }}" alt="Servicio técnico de instalación">
                                            <p class="tw-font-poppins tw-text-[#434f5a] tw-text-[10px] lg:tw-text-[12px] tw-font-normal tw-mx-2 tw-mt-2"><b class="tw-font-semibold tw-text-[#292929]">Servicio técnico</b> de instalación</p>
                                          </div>
                                        {% endif %}
                                        {% if product.tags contains "benefit-120" %}
                                          <div class="tw-text-center">
                                            <img loading="lazy" width="52" height="52" class="lozad tw-h-10 lg:tw-h-14 tw-w-10 lg:tw-w-14" data-src="{{ 'smart-icon-moon.svg' | asset_url }}" alt="365 noches de prueba">
                                            <p class="tw-font-poppins tw-text-[#434f5a] tw-text-[10px] lg:tw-text-[12px] tw-font-normal tw-mx-2 tw-mt-2"><b class="tw-font-semibold tw-text-[#292929]">365 noches</b> de prueba</p>
                                          </div>
                                        {% endif %}
                                        {% if product.tags contains "benefit-30" %}
                                          <div class="tw-text-center">
                                            <img loading="lazy" width="52" height="52" class="lozad tw-h-10 lg:tw-h-14 tw-w-10 lg:tw-w-14" data-src="{{ 'smart-icon-moon.svg' | asset_url }}" alt="180 noches de prueba">
                                            <p class="tw-font-poppins tw-text-[#434f5a] tw-text-[10px] lg:tw-text-[12px] tw-font-normal tw-mx-2 tw-mt-2"><b class="tw-font-semibold tw-text-[#292929]">180 noches</b> de prueba</p>
                                          </div>
                                        {% endif %}
                                        {% if product.tags contains "benefit-ret" %}
                                          <div class="tw-text-center">
                                            <img loading="lazy" width="52" height="52" class="lozad tw-h-10 lg:tw-h-14 tw-w-10 lg:tw-w-14" data-src="{{ 'smart-icon-ret.svg' | asset_url }}" alt="Devoluciones sin costo">
                                            <p class="tw-font-poppins tw-text-[#434f5a] tw-text-[10px] lg:tw-text-[12px] tw-font-normal tw-mx-2 tw-mt-2">Devoluciones <b class="tw-font-semibold tw-text-[#292929]">sin costo</b></p>
                                          </div>
                                        {% endif %}
                                        <div class="tw-text-center">
                                          <img loading="lazy" width="52" height="52" class="lozad tw-h-10 lg:tw-h-14 tw-w-10 lg:tw-w-14" data-src="{{ 'smart-icon-approved.svg' | asset_url }}" alt="Satisfación garantizada">
                                          <p class="tw-font-poppins tw-text-[#434f5a] tw-text-[10px] lg:tw-text-[12px] tw-font-normal tw-mx-2 tw-mt-2">Satisfacción garantizada</p>
                                        </div>
                                        <div class="tw-text-center">
                                          <img loading="lazy" width="52" height="52" class="lozad tw-h-10 lg:tw-h-14 tw-w-10 lg:tw-w-14" data-src="{{ 'smart-icon-deliver.svg' | asset_url }}" alt="Envíos Gratis">
                                          <p class="tw-font-poppins tw-text-[#434f5a] tw-text-[10px] lg:tw-text-[12px] tw-font-normal tw-mx-2 tw-mt-2">Envíos <b class="tw-font-semibold tw-text-[#292929]">Gratis</b></p>
                                        </div>
                                      </div>
                                    </a>
                                  
                                {% endfor %}
                              {% endfor %}
                            
                            </div>
                          </nav-grid>
                          <div class="tw-flex tw-flex-row tw-justify-center tw-mp-2 tw-pt-8 tw-border-0 tw-border-solid tw-border-t-[1px] tw-border-gray-200">
                            <a href="{{ link.url }}" class="tw-bg-white tw-py-4 tw-px-14 tw-font-poppins tw-text-[#292929] tw-text-[14px] tw-font-semibold tw-rounded tw-border tw-border-solid tw-border tw-border-[#292929]">
                              Ver Colección
                            </a>
                          </div>
                        </nav-element>
                      </li> 
                    {% elsif link.type == 'collection_link' or link.title ==  "Bases & Colchones" %}
                      <li class="general-subnav-menu__element">
                        <div class="general-subnav-menu__body text-center remove-box {% if link.current %}active{% endif %} transition-all-03">
                          <p class="general-subnav-menu__link tw-block tw-font-poppins tw-text-[#292929] tw-text-[12px] tw-font-normal tw-text-center tw-no-underline tw-cursor-pointer hover:tw-font-semibold">
                            {{ link.title | escape }}
                          </p>
                        </div>
                        <nav-element class="general-subnav-submenu__container remove-box tw-absolute tw-w-full tw-bg-white tw-shadow-xl tw-drop-shadow-lg tw-shadow-gray-500 {% if isDevelop and link.current %}active{% endif %}">
                          <nav-grid class="general-subnav-submenu__head d-grid">
                            <div class="general-subnav-submenu__grided tw-w-full remove-box">
                              <ul class="general-subnav-submenu__list tw-list-none">
                                {% for child_link in link.links %}
                                  <li class="general-subnav-submenu__element">
                                    <a class="general-subnav-submenu__link tw-no-underline tw-flex tw-items-center" href="{{ child_link.url }}">
                                      <p class="general-subnav-submenu__name general-subnav-submenu__title transition-all-03 tw-text-[#292929] tw-text-[16px] tw-font-semibold tw-py-2 hover:tw-underline hover:tw-decoration-dotted hover:tw-decoration-gray-400 hover:tw-underline-offset-4"> {{ child_link.title }} > </p>
                                    </a>
                                  </li>
                                  {% for sub_child_link in child_link.links %}
                                    {%- assign product = sub_child_link.object -%}
                                    <li class="general-subnav-submenu__element link_element" element_menu="{{ product.handle }}">
                                      <a class="general-subnav-submenu__link tw-no-underline tw-flex tw-items-center" href="{{ sub_child_link.url }}">
                                        <p class="general-subnav-submenu__name transition-all-03 tw-font-poppins tw-text-[#666666] tw-text-[14px] tw-font-light tw-py-2"><span class="tw-font-poppins tw-text-[#666666] tw-text-[14px] tw-font-light tw-py-2 hover:tw-underline">{{ sub_child_link.title }}</span>{% if product.tags contains "Mas Vendido" %}<span class="tag_element transition-all-03  tw-bg-white tw-py-1 tw-px-4 tw-font-poppins tw-text-[#957161] tw-text-[10px] tw-font-medium tw-rounded tw-border tw-border-solid tw-border-[#957161]  tw-ml-2 hover:tw-bg-[#957161] hover:tw-text-white">Más Vendidos</span>{% endif %}{% if product.tags contains "Nuevo" %}<span class="tag_element transition-all-03 tw-bg-white tw-py-1 tw-px-4 tw-font-poppins tw-text-[#957161] tw-text-[10px] tw-font-medium tw-rounded tw-border tw-border-solid tw-border-[#957161] tw-ml-2 hover:tw-bg-[#957161] hover:tw-text-white">Nuevo</span>{% endif %}{% if product.tags contains "Promo" %}<span class="tag_element transition-all-03 tw-bg-white tw-py-1 tw-px-4 tw-font-poppins tw-text-[#957161] tw-ml-2 hover:tw-bg-[#957161] hover:tw-text-white">Promoción</span>{% endif %}</p>
                                      </a>
                                    </li>
                                  {% endfor %}
                                {% endfor %}
                              </ul>
                            </div>
                            <div class="general-subnav-submenu__grided w-100 remove-box tw-w-full tw-bg-[#f7f7f7]">
                              {% for child_link in link.links %}
                                {% for sub_child_link in child_link.links %}
                                  {%- assign product = sub_child_link.object -%}
                                    <a href="{{ product.url }}" class="general-subnav-submenu__body link_image tw-cursor-pointer" element_menu="{{ product.handle }}">
                                      <div class="tw-relative">
                                        <img loading="lazy" class="tw-w-full" src="{{ product.featured_image | img_url: '500x' }} " alt="Smart Bamboo es la línea más innovadora en colchones y accesorios de ropa de cama derivados del bambú">
                                        <div class="tw-flex tw-flex-row tw-justify-center tw-relative tw-bottom-[23px]">
                                          <div class="tw-w-44 tw-bg-amarillo tw-rounded">
                                            {%- assign percent = 0 -%}
                                            {% for option in product.variants %}
                                              {% assign newPercent = option.compare_at_price | minus: option.price | times: 100.0 | divided_by: option.compare_at_price | round %}
                                              {% if percent < newPercent %}
                                                {%- assign percent = newPercent -%}
                                              {% endif %}
                                            {% endfor %}
                                            <p class="tw-font-poppins tw-text-white tw-text-[15px] tw-font-normal tw-text-center tw-py-1.5"><b>{{percent}}%</b> de descuento</p>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="general-subnav-submenu__info tw-mb-8 tw-text-center">
                                        {%- assign oldPrice = product.price -%}
                                        {%- assign originalPrice = product.price -%}
                                        {%- assign isDifferentPrice = false -%}
                                        {% for option in product.variants %}
                                          {% assign newPrice = option.price %}
                                          {% if oldPrice > newPrice %}
                                            {%- assign oldPrice = newPrice -%}
                                          {% endif %}
                                          {% if originalPrice != newPrice %}
                                            {%- assign isDifferentPrice = true -%}
                                          {% endif %}
                                        {% endfor %}
                                        <p class="tw-font-poppins tw-text-[#666666] tw-w-full tw-text-[15px] tw-font-normal tw-text-center tw-py-1 tw-bg-white tw-rounded tw-border tw-border-[1px] tw-border-solid tw-border-gray-200">{{ product.title }} <span class="tw-font-semibold tw-text-[#292929]">{% if isDifferentPrice %}Desde{% endif %} {{ oldPrice | money }}</span></p>
                                      </div>
                                      <div class="general-subnav-submenu__grid remove-box tw-w-full tw-flex tw-justify-between tw-align-items-start">
                                        <div class="tw-text-center">
                                          <img loading="lazy" width="52" height="52" class="lozad tw-h-10 lg:tw-h-14 tw-w-10 lg:tw-w-14" data-src="{{ 'smart-icon-percent.svg' | asset_url }}" alt="3, 6, 12 y 24 MSI">
                                          <p class="tw-font-poppins tw-text-[#434f5a] tw-text-[10px] lg:tw-text-[12px] tw-font-normal tw-mx-2 tw-mt-2">3, 6, 12 y 24 MSI</p>
                                        </div>
                                        {% if product.tags contains "benefit-tech" %}
                                          <div class="tw-text-center">
                                            <img loading="lazy" width="52" height="52" class="lozad tw-h-10 lg:tw-h-14 tw-w-10 lg:tw-w-14" data-src="{{ 'smart-icon-tech.svg' | asset_url }}" alt="Servicio técnico de instalación">
                                            <p class="tw-font-poppins tw-text-[#434f5a] tw-text-[10px] lg:tw-text-[12px] tw-font-normal tw-mx-2 tw-mt-2"><b class="tw-font-semibold tw-text-[#292929]">Servicio técnico</b> de instalación</p>
                                          </div>
                                        {% endif %}
                                        {% if product.tags contains "benefit-120" %}
                                          <div class="tw-text-center">
                                            <img loading="lazy" width="52" height="52" class="lozad tw-h-10 lg:tw-h-14 tw-w-10 lg:tw-w-14" data-src="{{ 'smart-icon-moon.svg' | asset_url }}" alt="365 noches de prueba">
                                            <p class="tw-font-poppins tw-text-[#434f5a] tw-text-[10px] lg:tw-text-[12px] tw-font-normal tw-mx-2 tw-mt-2"><b class="tw-font-semibold tw-text-[#292929]">365 noches</b> de prueba</p>
                                          </div>
                                        {% endif %}
                                        {% if product.tags contains "benefit-30" %}
                                          <div class="tw-text-center">
                                            <img loading="lazy" width="52" height="52" class="lozad tw-h-10 lg:tw-h-14 tw-w-10 lg:tw-w-14" data-src="{{ 'smart-icon-moon.svg' | asset_url }}" alt="180 noches de prueba">
                                            <p class="tw-font-poppins tw-text-[#434f5a] tw-text-[10px] lg:tw-text-[12px] tw-font-normal tw-mx-2 tw-mt-2"><b class="tw-font-semibold tw-text-[#292929]">180 noches</b> de prueba</p>
                                          </div>
                                        {% endif %}
                                        {% if product.tags contains "benefit-ret" %}
                                          <div class="tw-text-center">
                                            <img loading="lazy" width="52" height="52" class="lozad tw-h-10 lg:tw-h-14 tw-w-10 lg:tw-w-14" data-src="{{ 'smart-icon-ret.svg' | asset_url }}" alt="Devoluciones sin costo">
                                            <p class="tw-font-poppins tw-text-[#434f5a] tw-text-[10px] lg:tw-text-[12px] tw-font-normal tw-mx-2 tw-mt-2">Devoluciones <b class="tw-font-semibold tw-text-[#292929]">sin costo</b></p>
                                          </div>
                                        {% endif %}
                                        <div class="tw-text-center">
                                          <img loading="lazy" width="52" height="52" class="lozad tw-h-10 lg:tw-h-14 tw-w-10 lg:tw-w-14" data-src="{{ 'smart-icon-approved.svg' | asset_url }}" alt="Satisfación garantizada">
                                          <p class="tw-font-poppins tw-text-[#434f5a] tw-text-[10px] lg:tw-text-[12px] tw-font-normal tw-mx-2 tw-mt-2">Satisfacción garantizada</p>
                                        </div>
                                        <div class="tw-text-center">
                                          <img loading="lazy" width="52" height="52" class="lozad tw-h-10 lg:tw-h-14 tw-w-10 lg:tw-w-14" data-src="{{ 'smart-icon-deliver.svg' | asset_url }}" alt="Envíos Gratis">
                                          <p class="tw-font-poppins tw-text-[#434f5a] tw-text-[10px] lg:tw-text-[12px] tw-font-normal tw-mx-2 tw-mt-2">Envíos <b class="tw-font-semibold tw-text-[#292929]">Gratis</b></p>
                                        </div>
                                      </div>
                                    </a>
                                {% endfor %}
                              {% endfor %}
                            </div>
                          </nav-grid>
                          <div class="tw-flex tw-flex-row tw-justify-center tw-mp-2 tw-pt-8 tw-border-0 tw-border-solid tw-border-t-[1px] tw-border-gray-200">
                            <a href="{{ link.url }}" class="tw-bg-white tw-py-4 tw-px-14 tw-font-poppins tw-text-[#292929] tw-text-[14px] tw-font-semibold tw-rounded tw-border tw-border-solid tw-border tw-border-[#292929]">
                              Ver Colección
                            </a>
                          </div>
                        </nav-element>
                      </li> 
                    {% else %}
                      {% if link.title == 'Boutiques' %}
                        {% continue %}
                      {% endif %}
                      {% if link.title == 'Promociones' %}
                        {% assign promo = 'promotion' %}
                        {% assign promo-styles = 'tw-bg-amarillo tw-text-[#ffffff] tw-font-semibold hover:tw-font-semibold' %}
                        {% assign promo-title = 'tw-font-semibold hover:tw-font-semibold' %}
                      {% endif %}
                      <li class="general-subnav-menu__element {{ promo }}">
                        {% assign promo = 'promotion' %}
                        <div class="general-subnav-menu__body tw-text-center remove-box {% if link.current %}active{% endif %} transition-all-03">
                          <a {% if link.levels < 1 %}href="{{ link.url }}"{% endif %} class="general-subnav-menu__link tw-block tw-font-poppins tw-text-[12px] tw-list-none tw-cursor-pointer tw-text-[#292929] {{ promo-styles }}">
                            <div class="tw-flex tw-justify-center tw-items-center">
                              <span id="boton-desktop" class="tw-block tw-font-poppins tw-text-[12px] tw-font-normal hover:tw-font-semibold tw-py-1 tw-px-3 tw-rounded tw-w-full tw-max-w-[400px] {{ promo-title }}">{{ link.title }}</span>
                            </div>
                          </a>
                        </div>
                        {% if link.levels >= 1 %}
                          <nav-element class="general-subnav-submenu__container padding nav-shadow c14-b border br-4 c8-bk position-absolute w-max {% if forloop.index > 3 %} right {% else %} left {% endif %}">
                            <div class="general-subnav-submenu__head no-padding">
                              <ul class="general-subnav-submenu__list list-unstyled">
                                {% for child_link in link.links %}
                                  <li class="general-subnav-submenu__element">
                                    <a class="general-subnav-submenu__link text-decoration-none d-flex align-items-center" href="{{ child_link.url }}">
                                      <p class="general-subnav-submenu__name transition-all-03 body-text lh-normal c3-c fs-14-14 w-max">{{ child_link.title }}</p>
                                    </a>
                                  </li>
                                {% endfor %}
                              </ul>
                            </div>
                          </nav-element>
                        {% endif %}
                      </li>
                    {% endif %}
                  {%- endfor -%}
                </ul>
              {%- endif -%}
            </div>
            <div id="iconos" class="general-subnav-actions__container tw-flex tw-justify-end tw-col-span-3 lg:tw-col-span-1 xl:tw-col-span-2 tw-grid tw-grid-cols-2 tw-gap-x-1 asset-builder">
              <div class="tw-w-full tw-flex tw-flex-row tw-justify-center">
                <div class="tw-relative">
                  <a class="tw-flex tw-font-poppins tw-no-underline tw-leading-[1.65] tw-font-semibold tw-text-[#292929] tw-text-[12px] tw-items-center" href="/apps/store-locator">
                    {% render 'smart-icon-location-small' %}
                    <span class="tw-hidden xl:tw-block tw-ml-[5px]">Boutiques</span>
                  </a>
                </div>
              </div>
              <div class="tw-w-full tw-flex tw-flex-row tw-justify-center" id="js-count-container">
                <a href="{{ routes.cart_url }}" class="tw-flex tw-font-poppins tw-no-underline tw-leading-[1.65] tw-font-semibold tw-text-[#292929] tw-text-[12px] tw-items-center tw-relative" id="cart-icon-bubble">
                  <span class="tw-animate-ping tw-absolute tw-left-0 tw-right-0 tw-ml-0 tw-mr-0 tw-hidden tw-w-full tw-h-full tw-rounded-full tw-bg-color-1 tw-opacity-70" id="cart-icon-bubble--animation"></span>
                  <div class="general-subnav-cart__container tw-flex">
                    {% render 'smart-icon-cart' %}
                      <div class="tw-translate-y-[-50%] tw-translate-x-[-50%] tw-block md:tw-hidden tw-bg-[#292929] tw-h-[17px] tw-w-[17px] tw-rounded-full tw-relative tw-left-[3px] tw-bottom-[0px] tw-flex tw-flex-row tw-justify-center tw-items-center tw-pointer-events-none">
                        {% if cart.item_count <= 9 %}
                          <p class="tw-font-poppins tw-text-white tw-text-[11px] tw-font-medium tw-pointer-events-none js-items-count">{{ cart.item_count }}</p>
                        {% endif %}
                      </div>
                  </div>
                  <span class="tw-hidden xl:tw-block tw-ml-[5px]">
                    Carrito
                    <span id="js-items-count">
                      {% if cart.item_count > 0 %}
                        ({{ cart.item_count }})
                      {% endif %}
                    </span>
                  </span>
                </a>
              </div>
            </div>
          </div>
          <nav-menu class="general-hamburguer__wrapper transition-move-03 {% if isDevelop %}open{% endif %}" {% if isDevelop %}style="display: block;"{% endif %}>
            {%- if section.settings.menu != blank -%}
              <div class="general-container__wrapper">
                <div class="general-container__container">
                  <div class="general-hamburguer__container tw-bg-white">
                    <div class="general-hamburguer__body">
    
                      <ul class="general-hamburguer-list__container tw-pl-0 tw-list-none">
                        {%- for link in section.settings.menu.links -%}
                          {% if link.type == 'collection_link' or link.title == "Bases & Colchones" %}
                            <li class="general-hamburguer-list__element tw-border-t-[1px] tw-border-0 tw-border-solid tw-border-gray-200">
                              <nav-grid responsive>
                                <details>
                                  <summary class="general-hamburguer-list__summary position-relative transition-opacity-03">
                                    <div class="tw-flex tw-flex-row tw-justify-between tw-items-center responsive-padding position-relative">
                                      
                                      <p class="tw-font-poppins tw-text-[#292929] tw-text-[16px] tw-font-semibold tw-flex tw-items-center tw-py-6">{{ link.title }}</p>
                                      
                                      <div class="position-relative">
                                        <div class="general-hamburguer-list__svg primary">
                                          <img loading="lazy" width="27" height="27" class="lozad" data-src="{{ 'smart-icon-more.svg' | asset_url }}" alt="Ver más">
                                        </div>
                                        <div class="general-hamburguer-list__svg secondary  position-absolute">
                                          <img loading="lazy" width="27" height="27" class="lozad" data-src="{{ 'smart-icon-close.svg' | asset_url }}" alt="Ver menos">
                                        </div>
                                      </div>
    
                                    </div>
                                  </summary>
                                  {% comment %} INICIO MENÚ DE COLCHONES {% endcomment %}
                                  <ul class="tw-list-none tw-bg-[#f7f7f7]">
                                    {% for child_link in link.links %}
                                      {% if link.levels >= 2 %}
                                        {% for sub_child_link in child_link.links %}
                                          {%- assign product = sub_child_link.object -%}
                                          <li class="tw-py-2 tw-pl-6" element_menu="{{ product.handle }}-res">
                                            <a class="tw-flex tw-flex-row tw-flex-start tw-items-center tw-text-[#292929]" href="{{ product.url }}">
                                              <div class="tw-mr-6">
                                                <img loading="lazy" class="lozad" data-src="{{ product.featured_image | img_url: '104x72' }}" alt="{{ sub_child_link.title }}">
                                              </div>
                                              <p class=""><span class="tw-mr-2 tw-text-[#292929]">{{ sub_child_link.title }}</span>{% if product.tags contains "Mas Vendido" %}<span class="tw-bg-white tw-py-1 tw-px-4 tw-font-poppins tw-text-[#957161] tw-text-[13px] tw-font-semibold tw-rounded tw-border tw-border-solid tw-border-[#957161]">Mas Vendidos</span>{% endif %}{% if product.tags contains "Nuevo" %}<span class="tw-bg-white tw-py-1 tw-px-4 tw-font-poppins tw-text-[#957161] tw-text-[13px] tw-font-semibold tw-rounded tw-border tw-border-solid tw-border-[#957161]">Nuevo</span>{% endif %}{% if product.tags contains "Promo" %}<span class="tw-bg-white tw-py-1 tw-px-4 tw-font-poppins tw-text-[#957161] tw-text-[13px] tw-font-semibold tw-rounded tw-border tw-border-solid tw-border-[#957161]">Promoción</span>{% endif %}</p>
                                            </a>
                                          </li>
                                        {% endfor %}
                                      {% else %}
                                        {%- assign product = child_link.object -%}
                                        <li class="tw-pl-6">
                                          <a class="tw-flex tw-flex-row tw-flex-start tw-items-center" href="{{ product.url }}">
                                            <div class="tw-mr-6">
                                              <img loading="lazy" class="lozad" data-src="{{ product.featured_image | img_url: '104x72' }}" alt="{{ child_link.title }}">
                                            </div>
                                            <p class=""><span class="tw-mr-2">{{ child_link.title }}</span>{% if product.tags contains "Mas Vendido" %}<span class="tw-bg-white tw-py-1 tw-px-4 tw-font-poppins tw-text-[#957161] tw-text-[13px] tw-font-semibold tw-rounded tw-border tw-border-solid tw-border-[#957161]">Mas Vendidos</span>{% endif %}{% if product.tags contains "Nuevo" %}<span class="tw-bg-white tw-py-1 tw-px-4 tw-font-poppins tw-text-[#957161] tw-text-[13px] tw-font-semibold tw-rounded tw-border tw-border-solid tw-border-[#957161]">Nuevo</span>{% endif %}{% if product.tags contains "Promo" %}<span class="tw-bg-white tw-py-1 tw-px-4 tw-font-poppins tw-text-[#957161] tw-text-[13px] tw-font-semibold tw-rounded tw-border tw-border-solid tw-border-[#957161]">Promoción</span>{% endif %}</p>
                                          </a>
                                        </li>
                                      {% endif %}
                                    {% endfor %}
                                    {% comment %} FIN MENÚ DE COLCHONES {% endcomment %}
                                    <li>
                                      <div class="tw-flex tw-flex-row tw-justify-center tw-mp-2">
                                        <a href="{{ link.url }}" class="tw-bg-white tw-py-4 tw-px-14 tw-font-poppins tw-text-[#292929] tw-text-[14px] tw-font-semibold tw-rounded tw-border tw-border-solid tw-border-[#292929]">
                                          Ver Colección
                                        </a>
                                      </div>
                                    </li>
                                  </ul>
                                  <div class="tw-bg-[#f7f7f7]">
                                    <div class="tw-p-6">
                                      {% for child_link in link.links %}
                                        {% for sub_child_link in child_link.links %}
                                          {%- assign product = sub_child_link.object -%}
                                          <div class="general-subnav-submenu__body link_image" element_menu="{{ product.handle }}-res">
                                            <a href="{{ product.url }}">
                                              <img loading="lazy" class="tw-w-full lozad" data-src="{{ product.featured_image | img_url: '500x' }}" alt="Smart Bamboo es la línea más innovadora en colchones y accesorios de ropa de cama derivados del bambú">
                                              <div class="tw-flex tw-flex-row tw-justify-center tw-relative tw-bottom-[23px]">
                                                <div class="tw-w-44 tw-bg-amarillo tw-rounded">
                                                  {%- assign percent = 0 -%}
                                                  {% for option in product.variants %}
                                                    {% assign newPercent = option.compare_at_price | minus: option.price | times: 100.0 | divided_by: option.compare_at_price | round %}
                                                    {% if percent < newPercent %}
                                                      {%- assign percent = newPercent -%}
                                                    {% endif %}
                                                  {% endfor %}
                                                  <p class="tw-font-poppins tw-text-white tw-text-[15px] tw-font-normal tw-text-center tw-py-1.5"><b>{{percent}}%</b> de descuento</p>
                                                </div>
                                              </div>
                                            </a>
                                            <div class="tw-mt-2 tw-mb-5">
                                              {%- assign oldPrice = product.price -%}
                                              {%- assign originalPrice = product.price -%}
                                              {%- assign isDifferentPrice = false -%}
                                              {% for option in product.variants %}
                                                {% assign newPrice = option.price %}
                                                {% if oldPrice > newPrice %}
                                                  {%- assign oldPrice = newPrice -%}
                                                {% endif %}
                                                {% if originalPrice != newPrice %}
                                                  {%- assign isDifferentPrice = true -%}
                                                {% endif %}
                                              {% endfor %}
                                              <p class="tw-font-poppins tw-text-[#666666] tw-text-[15px] tw-font-normal tw-text-center tw-py-1 tw-bg-white tw-rounded tw-border tw-border-[1px] tw-border-solid tw-border-gray-200">{{ product.title }} <span class="tw-font-semibold tw-text-[#292929]">{% if isDifferentPrice %}Desde{% endif %} {{ oldPrice | money }}</span></p>
                                            </div>
                                            <div class="tw-full tw-flex tw-pb-6">
                                              <div class="tw-w-full tw-flex tw-justify-between tw-align-items-start">
                                                <div class="tw-text-center">
                                                  <img loading="lazy" width="52" height="52" class="lozad tw-h-10 tw-w-10" data-src="{{ 'smart-icon-percent.svg' | asset_url }}" alt="3, 6, 12 y 24 MSI">
                                                  <p class="tw-font-poppins tw-text-[#434f5a] tw-text-[10px] tw-font-normal tw-mx-2">3, 6, 12 y 24 MSI</p>
                                                </div>
                                                {% if product.tags contains "benefit-tech" %}
                                                  <div class="tw-text-center">
                                                    <img loading="lazy" width="52" height="52" class="lozad tw-h-10 tw-w-10" data-src="{{ 'smart-icon-tech.svg' | asset_url }}" alt="Servicio técnico de instalación">
                                                    <p class="tw-font-poppins tw-text-[#434f5a] tw-text-[10px] tw-font-normal tw-mx-2"><b class="tw-font-semibold tw-text-[#292929]">Servicio técnico</b> de instalación</p>
                                                  </div>
                                                {% endif %}
                                                {% if product.tags contains "benefit-120" %}
                                                  <div class="tw-text-center">
                                                    <img loading="lazy" width="52" height="52" class="lozad tw-h-10 tw-w-10" data-src="{{ 'smart-icon-moon.svg' | asset_url }}" alt="365 noches de prueba">
                                                    <p class="tw-font-poppins tw-text-[#434f5a] tw-text-[10px] tw-font-normal tw-mx-2"><b class="tw-font-semibold tw-text-[#292929]">365 noches</b> de prueba</p>
                                                  </div>
                                                {% endif %}
                                                {% if product.tags contains "benefit-30" %}
                                                  <div class="tw-text-center">
                                                    <img loading="lazy" width="52" height="52" class="lozad tw-h-10 tw-w-10" data-src="{{ 'smart-icon-moon.svg' | asset_url }}" alt="180 noches de prueba">
                                                    <p class="tw-font-poppins tw-text-[#434f5a] tw-text-[10px] tw-font-normal tw-mx-2"><b class="tw-font-semibold tw-text-[#292929]">180 noches</b> de prueba</p>
                                                  </div>
                                                {% endif %}
                                                {% if product.tags contains "benefit-ret" %}
                                                  <div class="tw-text-center">
                                                    <img loading="lazy" width="52" height="52" class="lozad tw-h-10 tw-w-10" data-src="{{ 'smart-icon-ret.svg' | asset_url }}" alt="Devoluciones sin costo">
                                                    <p class="tw-font-poppins tw-text-[#434f5a] tw-text-[10px] tw-font-normal tw-mx-2">Devoluciones <b class="tw-font-semibold tw-text-[#292929]">sin costo</b></p>
                                                  </div>
                                                {% endif %}
                                                <div class="tw-text-center">
                                                  <img loading="lazy" width="52" height="52" class="lozad tw-h-10 tw-w-10" data-src="{{ 'smart-icon-approved.svg' | asset_url }}" alt="Satisfación garantizada">
                                                  <p class="tw-font-poppins tw-text-[#434f5a] tw-text-[10px] tw-font-normal tw-mx-2">Satisfacción garantizada</p>
                                                </div>
                                                <div class="tw-text-center">
                                                  <img loading="lazy" width="52" height="52" class="lozad tw-h-10 tw-w-10" data-src="{{ 'smart-icon-deliver.svg' | asset_url }}" alt="Envíos Gratis">
                                                  <p class="tw-font-poppins tw-text-[#434f5a] tw-text-[10px] tw-font-normal tw-mx-2">Envíos <b class="tw-font-semibold tw-text-[#292929]">Gratis</b></p>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        {% endfor %}
                                      {% endfor %}
                                    </div>
                                  </div>
                                </details>
                              </nav-grid>
                            </li>
    
                          {% comment %} INICIO CONTACTANOS MENÚ MOBILE {% endcomment %}
                          {% elsif link.title == "Contáctanos" %}
                            <li class="tw-border-t-[1px] tw-border-0 tw-border-solid tw-border-gray-200">
                              <details>
                                <summary class="general-hamburguer-list__summary position-relative transition-opacity-03">
                                  <div class="d-flex justify-content-between align-items-center responsive-padding position-relative">
                                    <p class="tw-font-poppins tw-text-[#292929] tw-text-[16px] tw-font-normal tw-flex tw-items-center tw-py-6">{{ link.title }}</p>
                                    <div class="position-relative">
                                      <div class="general-hamburguer-list__svg primary transition-opacity-03">
                                        <img loading="lazy" width="27" height="27" class="lozad" data-src="{{ 'smart-icon-more.svg' | asset_url }}" alt="Ver más">
                                      </div>
                                      <div class="general-hamburguer-list__svg secondary transition-opacity-03 position-absolute">
                                        <img loading="lazy" width="27" height="27" class="lozad" data-src="{{ 'smart-icon-close.svg' | asset_url }}" alt="Ver más">
                                      </div>
                                    </div>
                                  </div>
                                </summary>  
                                <ul class="tw-list-none tw-bg-[#f7f7f7]">
                                  <li class="tw-pt-4">
                                    <div class="tw-flex tw-flex-col tw-grid tw-grid-cols-12 tw-justify-center tw-items-start tw-gap-x-1">
                                      <div class="tw-flex tw-col-span-2 tw-col-start-2 tw-w-full">
                                        <img src="{{ 'smart-icon-chat.svg' | asset_url }}" width="95" height="95" alt="Llámanos" class="tw-w-[80%]">
                                      </div>
                                      <div class="tw-flex tw-col-span-8 tw-flex-col tw-pb-6">
                                        <p class="tw-font-poppins tw-text-[#292929] tw-text-[15px] tw-font-semibold tw-flex tw-items-center">+52 5531768819</p>
                                        <p class="tw-font-poppins tw-text-[#292929] tw-text-[15px]">Lun - Vie: 08:00 - 20:00 hrs.</p>
                                        <p class="tw-font-poppins tw-text-[#292929] tw-text-[15px] tw-mb-4">Sab - Dom: 08:00 - 17:00 hrs.</p>
                                        <div class="tw-mt-4">
                                          <a href="tel:+525531768819" class="tw-bg-white tw-py-4 tw-px-6 tw-font-poppins tw-text-[#292929] tw-text-[14px] tw-font-semibold tw-rounded tw-border tw-border-solid tw-border-[#292929]">
                                            Llámanos
                                          </a>
                                        </div>
                                      </div>
                                    </div>
                                  </li>
                                  <li class="tw-pt-4 tw-border-t-2 tw-border-0 tw-border-solid tw-border-gray-200">
                                    <div class="tw-flex tw-flex-col tw-grid tw-grid-cols-12 tw-justify-center tw-items-start tw-gap-x-1">
                                      <div class="tw-flex tw-col-span-2 tw-col-start-2 tw-w-full">
                                        <img src="{{ 'smart-icon-call.svg' | asset_url }}" width="95" height="95" alt="Chatea" class="tw-w-[80%]">
                                      </div>
                                      <div class="tw-flex tw-col-span-8 tw-flex-col tw-pb-6">
                                        <p class="tw-font-poppins tw-text-[#292929] tw-text-[15px] tw-font-semibold tw-flex tw-items-center">Chatea con nosotros</p>
                                        <p class="tw-font-poppins tw-text-[#292929] tw-text-[15px] tw-mb-4">Habla con una persona. Nuestra atención es personalizada y te escuchamos.</p>
                                        <div class="tw-mt-4">
                                          <a class="tw-bg-white tw-py-4 tw-px-6 tw-font-poppins tw-text-[#292929] tw-text-[14px] tw-font-semibold tw-rounded tw-border tw-border-solid tw-border-[#292929]">
                                            Chatea
                                          </a>
                                        </div>
                                      </div>
                                    </div>
                                  </li>
                                </ul>
                              </details>
                            </li>
    
                          {% comment %} Mobile - link de collección que no tiene label hijos {% endcomment %}
                          {% elsif link.type != "collection_link" and link.levels == 0 %}
                          {% comment %} Mobile - Si el titulo es igual a promociones se aplican estlilos {% endcomment %}
                          {% if link.title == 'Promociones' %}
                            {% assign promo = 'promotion' %}
                            {% assign promo-styles = 'tw-text-amarillo' %}
    
                            <li class="general-hamburguer-list__element c14-b {{ promo }}">
                              {% assign promo = '' %}
                              <a class="tw-no-underline tw-cursor-pointer" href="{{ link.url }}">
                                <div class="tw-flex tw-flex-row tw-justify-between tw-items-center tw-pl-6 tw-pr-5 xl:tw-pl-10 xl:tw-pr-10">
                                  <p id="boton-mobile" class="tw-block tw-font-poppins tw-text-[16px] tw-font-semibold tw-text-[#666666] tw-py-6 xl:tw-py-5 xl:tw-px-10 tw-rounded tw-w-full tw-max-w-[400px]"> {{ link.title }}</p>
                                  <div class="tw-relative">
                                    <div class="general-hamburguer-list__svg tw--rotate-90">
                                      {% render 'smart-icon-more' %}
                                    </div>
                                  </div>
                                </div>
                              </a>
                            </li>
                          {% else %}
                          {% comment %} Mobile - Estilos para todos los demas {% endcomment %}
    
                            <li class="general-hamburguer-list__element c14-b">
                              <a class="tw-no-underline tw-cursor-pointer" href="{{ link.url }}">
                                <div class="tw-flex tw-flex-row tw-justify-between tw-items-center tw-pl-6 tw-pr-5 xl:tw-pl-10 xl:tw-pr-10">
                                  <p id="boton-mobile-uniq" class="tw-block tw-font-poppins tw-text-[16px] tw-text-[#292929] tw-py-6 xl:tw-py-5 xl:tw-px-10 tw-rounded tw-w-full tw-max-w-[400px] {% if link.title == 'Boutiques' %} tw-font-normal {% else %} tw-font-semibold {% endif %} "> {{ link.title }}</p>
                                  <div class="tw-relative">
                                    <div class="general-hamburguer-list__svg tw--rotate-90">
                                      {% render 'smart-icon-more' %}
                                    </div>
                                  </div>
                                </div>
                              </a>
                            </li>
                          {% endif %}
    
                          {% elsif link.type != "collection_link" and link.levels != 0 %}
                            <li class="general-hamburguer-list__element c14-b">
                              <details>
                                <summary class="general-hamburguer-list__summary position-relative transition-opacity-03">
                                  <div class="d-flex justify-content-between align-items-center responsive-padding position-relative">
                                    <p class="d-block general-hamburguer-list__link body-text lh-normal c1-c fs-16-16 tw-normal">{{ link.title }}</p>
                                    <div class="position-relative">
                                      <div class="general-hamburguer-list__svg primary transition-opacity-03">
                                        <img loading="lazy" width="27" height="27" class="lozad" data-src="{{ 'smart-icon-more.svg' | asset_url }}" alt="Ver más">
                                      </div>
                                      <div class="general-hamburguer-list__svg secondary transition-opacity-03 position-absolute">
                                        <img loading="lazy" width="27" height="27" class="lozad" data-src="{{ 'smart-icon-close.svg' | asset_url }}" alt="Ver más">
                                      </div>
                                    </div>
                                  </div>
                                </summary>
                                <ul class="general-hamburguer-sublist__container list-unstyled c9-bk">
                                  {% for child_link in link.links %}
                                    {% if link.levels >= 2 %}
                                      {% for sub_child_link in child_link.links %}
                                        <li class="general-hamburguer-sublist__element responsive-padding">
                                          <a class="text-decoration-none d-flex align-items-center" href="{{ sub_child_link.url }}">
                                            <p class="body-text lh-normal c3-c fs-15-15">{{ sub_child_link.title }}</p>
                                          </a>
                                        </li>
                                      {% endfor %}
                                    {% else %}
                                    <li class="general-hamburguer-sublist__element responsive-padding">
                                      <a class="text-decoration-none d-flex align-items-center" href="{{ child_link.url }}">
                                        <p class="body-text lh-normal c3-c fs-15-15">{{ child_link.title }}</p>
                                      </a>
                                    </li>
                                    {% endif %}
                                  {% endfor %}
                                </ul>
                              </details>
                            </li>
                             {% comment %} FIN dónde se muestra, el título de boutique en mobile? {% endcomment %}
                          {% endif %}
                      {% endfor %}
                      </ul>
    
    
    
                      <div class="tw-px-4 tw-py-12 tw-border-t-[1px] tw-border-0 tw-border-solid tw-border-gray-200">
                        <div class="tw-text-center tw-mb-8">
                          <h2 class="tw-font-poppins tw-text-[#292929] tw-text-lg tw-font-semibold">{{section.settings.newsletter_title}}</h2>
                        </div>
                        {% form 'customer', id: 'ContactHeader', class: 'general-hamburguer__space-top' %}
                          <input type="hidden" name="contact[tags]" value="newsletter">
                          <div class="tw-flex tw-justify-center tw-items-center tw-w-full">
                            <div class="tw-flex tw-w-full tw-flex-col tw-gap-6">
                              <input
                                id="NewsletterForm--{{ section.id }}"
                                type="email"
                                name="contact[email]"
                                class="tw-font-poppins tw-text-[#292929] tw-text-base rounded tw-py-4 tw-px-4 tw-border tw-border-solid tw-border-gray-600"
                                value="{{ form.email }}"
                                aria-required="true"
                                autocorrect="off"
                                autocapitalize="off"
                                autocomplete="email"
                                {% if form.errors %}
                                  autofocus
                                  aria-invalid="true"
                                  aria-describedby="ContactFooter-error"
                                {% elsif form.posted_successfully? %}
                                  aria-describedby="ContactFooter-success"
                                {% endif %}
                                placeholder="{{ 'newsletter.label' | t }}"
                                required
                              >
                              <label class="visually-hidden" for="NewsletterForm--{{ section.id }}">{{ 'newsletter.label' | t }}</label>
                              <button class="tw-font-poppins tw-text-white tw-bg-amarillo tw-text-base tw-font-semibold tw-tracking-wide tw-uppercase tw-rounded tw-py-3 tw-px-4" type="submit" name="commit" id="Subscribe">
                                {{ 'newsletter.button_label' | t }}
                              </button>
                            </div>
                          </div>
                          {% if form.errors %}
                            <div class="text-center general-hamburguer__space-top">
                              <h3 class="tw-font-poppins tw-text-red-600 tw-text-base md:tw-text-[16px] tw-font-normal">¡Ups! Ocurrió un error. ¡Intenta una vez más!</h3>
                            </div>
                          {% endif %}
                          {% if form.posted_successfully? %}
                            <div class="text-center general-hamburguer__space-top">
                              <h3 class="tw-font-poppins tw-text-[#434f5a] tw-text-base md:tw-text-[16px] tw-font-normal">¡Gracias por formar parte de la familia Smart Bamboo!</h3>
                            </div>
                          {% endif %}
                        {% endform %}
                      </div>
                      {% comment %} FIN SUSCRIBETE EN MENÚ LATERAL MOBILE {% endcomment %}
                    </div>
                    <div class="tw-bg-[#434f5a] tw-py-8">
                      <div class="tw-text-center tw-mb-6">
                        <h2 class="tw-font-poppins tw-text-[#e0c5ac] tw-text-center tw-text-lg tw-font-semibold">Síguenos</h2>
                      </div>
                      <div class="tw-w-full tw-mx-auto tw-max-w-[200px] tw-flex tw-justify-center tw-content-center tw-align-items-center">
    
                        <ul class="tw-grid tw-grid-cols-3 md:tw-grid-cols-6 tw-gap-5 tw-list-none {% if section.settings.social_body != blank %}space{% endif %}" role="list">
                          {% if settings.social_facebook != blank %}
                            <li>
                              <a href="{{ settings.social_facebook }}" aria-describedby="a11y-external-message">
                                <img width="30" height="30" class="lozad" data-src="https://cdn.shopify.com/s/files/1/0248/4705/6932/files/ico-rrss-facebook.webp?v=1668396668" alt="Facebook">
                                <span class="visually-hidden">{{ 'general.social.links.facebook' | t }}</span>
                              </a>
                            </li>
                          {% endif %}
                          {% if settings.social_instagram != blank %}
                            <li>
                              <a href="{{ settings.social_instagram }}" aria-describedby="a11y-external-message">
                                <img width="30" height="30" class="lozad" data-src="https://cdn.shopify.com/s/files/1/0248/4705/6932/files/ico-rrss-instagram.webp?v=1668396668" alt="Instagram">
                                <span class="visually-hidden">{{ 'general.social.links.instagram' | t }}</span>
                              </a>
                            </li>
                          {% endif %}
                          {% if settings.social_spotify != blank %}
                            <li>
                              <a href="{{ settings.social_spotify }}" aria-describedby="a11y-external-message">
                                <img width="30" height="30" class="lozad" data-src="https://cdn.shopify.com/s/files/1/0248/4705/6932/files/ico-rrss-spotify.webp?v=1668396668" alt="Spotify">
                                <span class="visually-hidden">{{ 'general.social.links.spotify' | t }}</span>
                              </a>
                            </li>
                          {% endif %}
                          {% if settings.social_pinterest != blank %}
                            <li>
                              <a href="{{ settings.social_pinterest }}" aria-describedby="a11y-external-message">
                                <img width="30" height="30" class="lozad" data-src="https://cdn.shopify.com/s/files/1/0248/4705/6932/files/ico-rrss-pinterest.webp?v=1668396668" alt="Pinterest">
                                <span class="visually-hidden">{{ 'general.social.links.pinterest' | t }}</span>
                              </a>
                            </li>
                          {% endif %}
                          {% if settings.social_youtube != blank %}
                            <li>
                              <a href="{{ settings.social_youtube }}" aria-describedby="a11y-external-message">
                                <img width="30" height="30" class="lozad" data-src="https://cdn.shopify.com/s/files/1/0248/4705/6932/files/ico-rrss-youtube.webp?v=1668396668" alt="Youtube">
                                <span class="visually-hidden">{{ 'general.social.links.youtube' | t }}</span>
                              </a>
                            </li>
                          {% endif %}
                          {% if settings.social_tumblr != blank %}
                            <li>
                              <a href="{{ settings.social_tumblr }}" aria-describedby="a11y-external-message">
                                <img width="30" height="30" class="lozad" data-src="https://cdn.shopify.com/s/files/1/0248/4705/6932/files/icon-tiktok_3128d329-7361-4a94-b09e-5e15e30d19ef.png?v=1659406084" alt="Tik ToK">
                                <span class="visually-hidden">{{ 'general.social.links.youtube' | t }}</span>
                              </a>
                            </li>
                          {% endif %}
                        </ul>
                    </div>
                  </div>
                </div>
              </div>
            {%- endif -%}
          </nav-menu>
        </div>
      </div>
    </div>
    
    <script type="module" src="{{ 'smart-nav-hamburguer-dist.js' | asset_url }}" defer="defer"></script>
    <script type="module" src="{{ 'smart-nav-grid.min.js' | asset_url }}" defer="defer"></script>
    <script type="module" src="{{ 'smart-nav-menu.min.js' | asset_url }}" defer="defer"></script>
    <script type="module" src="{{ 'smart-nav-element-dist.js' | asset_url }}" defer="defer"></script>
    
    {% schema %}
    {
      "name": "t:sections.header.name",
      "settings": [
        {
          "type": "image_picker",
          "id": "logo",
          "label": "t:sections.header.settings.logo.label"
        },
        {
          "type": "link_list",
          "id": "menu",
          "default": "main-menu",
          "label": "t:sections.header.settings.menu.label"
        },
        {
          "type": "text",
          "id": "newsletter_title",
          "label": "t:sections.header.settings.newsletter_title.label"
        }
      ]
    }
    {% endschema %}