
<section class="tw-container tw-max-w-[1100px] tw-mx-auto">
    <section class="tw-block">
      <div class="tw-mb-8 md:tw-mb-16">
        <div class="tw-flex tw-flex-col md:tw-flex-row md:tw-grid tw-grid-cols-2 md:tw-grid-cols-2 lg:tw-grid-cols-2 xl:tw-grid-cols-3 md:tw-gap-4" data-collection="true">
            {% comment %} TITULO COLCHONES {% endcomment %}
            <h2 class="tw-col-span-2 md:tw-col-span-2 lg:tw-col-span-2 xl:tw-col-span-3 tw-text-center tw-font-semibold tw-text-3xl md:tw-text-4xl tw-w-5/6 md:tw-w-3/4 tw-mx-auto tw-py-4 md:tw-py-10 md:tw-pb-6">
              {{ section.settings.collection_title }}
            {% comment %} Promociones en Colchones y  Bases {% endcomment %}
          </h2>
          
              
              
          {% for block in section.blocks %}
                
            <div class="tw-col-span-1 md:tw-col-span-1 tw-flex tw-flex-col tw-h-full tw-my-8 md:tw-my-0 tw-py-3 md:tw-py-0 tw-h-5/6 md:tw-h-max tw-px-4 md:tw-px-0">
                <div class="tw-border-0 tw-block tw-relative">
                  <a href="{{ block.settings.collection_product.url }}">
                    <img 
                      height="auto" 
                      width="auto"  
                      class="tw-block tw-max-w-[100%] tw-mx-auto tw-rounded-2xl hover:tw-shadow hover:tw-drop-shadow-xl hover:tw-shadow-slate-200 hover:tw-opacity-80"
                      src="{{ block.settings.collection_product.featured_image.src | image_url: width: '500' }}" 
                      alt="{{ block.settings.collection_product.featured_image.alt }}"
                      title="{{ block.settings.collection_product.featured_image.alt }}"
                    >
      
                    {% if block.settings.collection_product.compare_at_price > block.settings.collection_product.price %}
  
                      {% comment %} INICIO PIN DE DESCUENTOS ROUNDED {% endcomment %}
                      <div class="tw-flex tw-justify-end tw-items-center tw-w-full tw-mx-auto tw-absolute tw-top-[15px] tw-right-[15px]">
                        <div class="tw-bg-[#000000] tw-rounded-full tw-h-[100px] tw-w-[100px] tw-flex tw-flex-col tw-text-white tw-p-2 tw-rotate-[17deg]">
                          <span class="tw-text-lg tw-font-normal tw-text-center">Hasta</span>
                          {% assign discount = block.settings.collection_product.price | times: 100.00 | divided_by: block.settings.collection_product.compare_at_price | round %}
                          <span class="tw-text-4xl tw-font-bold tw-text-center">{{ 100 | minus: discount | append: '%' }}</span>
                          <span class="tw-text-lg tw-font-semibold tw-text-center">OFF</span>
                        </div>
                      </div>
                      {% comment %} FIN PIN DE DESCUENTOS ROUNDED {% endcomment %}
  
                    {% endif %} 
      
                    {% if block.settings.collection_product.handle == 'colchon-smart-firm' or block.settings.collection_product.handle == 'colchon-smart-balance' or block.settings.collection_product.handle == 'colchon-smart-hybrid' %}
                      {% comment %} REGALOS COLCHONES {% endcomment %}
                       <div class="tw-w-6/6 tw-mx-auto tw-absolute tw-bottom-[0px]">
                        <img class="tw-w-full" height="auto" width="auto" loading="lazy" src="https://cdn.shopify.com/s/files/1/0248/4705/6932/files/bullet.webp?v=1672902226" alt="Productos de regalo">
                      </div>
                    {% endif %}        
                  </a>
                </div>
      
                <div class="tw-grid tw-grid-cols tw-cols-1 tw-flex tw-flex tw-justify-center">
    
                  <h3 class="tw-text-2xl md:tw-text-[24px] tw-font-semibold md:tw-h-[60px] tw-text-center tw-pt-4 md:tw-pb-4 md:tw-mb-4">{{ block.settings.collection_product.title }}</h3>
                  {% if block.settings.collection_product.compare_at_price > block.settings.collection_product.price %}
                    <p class="tw-text-2xl md:tw-text-xl tw-font-semibold tw-leading-none tw-mt-5 md:tw-mt-0 tw-flex tw-justify-center tw-items-center">
                      <span class="tw-text-xl tw-font-semibold">Desde</span>
                      <span class="tw-font-bold tw-text-2xl tw-mx-2 js-product-{{ forloop.index0 }}-price">{{ block.settings.collection_product.price | money }}</span>
                      <s class="tw-font-light tw-text-[#B4B4B4] js-product-{{ forloop.index0 }}-compare">{{ block.settings.collection_product.compare_at_price | money }}</s>
                    </p>
                    {% else %}
                      <p class="tw-flex tw-justify-center tw-items-center">
                        <span class="tw-hidden">Desde</span>
                        <span class="tw-font-bold tw-text-2xl tw-text-center tw-text-[#4F4A41] js-product-{{ forloop.index0 }}-price">{{ block.settings.collection_product.price | money }}</span>
                      </p>
                  {% endif %}
                
                </div>
      
                <div class="tw-my-8">
                  {% liquid
                    if block.settings.collection_product.available != true
                      assign noStock = 'noStock'
                      assign buttonText = 'Agotado'
                    else
                      assign buttonText = 'Comprar'
                      assign noStock = ''
                    endif
                  %}
                
                  {% if block.settings.collection_product.has_only_default_variant %}
                    <div class="tw-flex tw-justify-center">
                      <span
                        class="tw-flex tw-justify-center tw-content-center tw-block tw-font-poppins tw-font-semibold tw-text-white tw-text-xl md:tw-text-lg tw-mt-1 tw-bg-amarillo tw-px-10 tw-py-3 md:tw-py-5 tw-rounded tw-w-1/2 tw-border-amarillo hover:tw-bg-[#d69e21] hover:tw-border-[#d69e21]    js-addToCart  {{ noStock }}" 
                        data-inventory-policy="{{ block.settings.collection_product.selected_or_first_available_variant.inventory_policy }}"
                        data-id="{{ block.settings.collection_product.selected_or_first_available_variant.id }}">{{ buttonText }}
                      </span>
                    </div>
                      
                  {% else %}
                    <div class="tw-flex tw-flex-row-reverse tw-gap-x-2 md:tw-mx-2 ">
                      <span 
                        class="tw-w-[50%] tw-flex tw-justify-center tw-content-center tw-block tw-font-poppins tw-font-semibold tw-text-white tw-text-xl md:tw-text-lg tw-bg-amarillo tw-px-10 tw-py-3 md:tw-py-5 tw-rounded tw-w-full tw-border-amarillo hover:tw-bg-[#d69e21] hover:tw-border-[#d69e21]  js-addToCart {{ noStock }}" 
                        data-product="{{ block.settings.collection_product.handle }}"
                        data-inventory-policy="{{ block.settings.collection_product.selected_or_first_available_variant.inventory_policy }}"
                        data-id="{{ block.settings.collection_product.selected_or_first_available_variant.id }}">{{ buttonText }}</span>
                      <select
                        data-product="{{ block.settings.collection_product.handle }}"
                        class="tw-w-[50%] tw-full tw-rounded tw-font-poppins tw-font-semibold tw-bg-[url('https://cdn.shopify.com/s/files/1/0248/4705/6932/t/374/assets/arrow-down.png')] tw-bg-no-repeat tw-bg-contain tw-bg-right tw-bg-[length:10px] tw-bg-[center_right_1rem]  tw-px-2 md:tw-px-4    js-selectVariant">
                        {% assign my_loop = forloop.index0 %}
                        {% for variant in block.settings.collection_product.variants %}
                            <option
                              data-inventory-policy="{{ variant.inventory_policy }}"
                              data-product="product-{{my_loop}}"
                              data-price="{{ variant.price }}"
                              data-compare="{{ variant.compare_at_price }}"
                              value="{{ variant.id }}">{{ variant.title }}</option>
                            {% endfor %}
                      </select>
                      
                      
                    </div>
                  {% endif %}
                </div>
            </div>
        {% endfor %}
        
      </div>
  </div>  
  </section>
  </section>
  
  {% schema %}
            {
              "name": "Grid Products",
              "settings": [
                {
                  "type": "image_picker",
                  "id": "collection_image",
                  "label": "Image to collection"
                },
                {
                  "type": "header",
                  "content": "Button"
                },
                {
                  "type": "text",
                  "id": "button_text",
                  "label": "Button text"
                },
                {
                  "type": "url",
                  "id": "button_link",
                  "label": "Button link"
                },
                {
                  "id": "collection_title",
                  "type": "text",
                  "label": "Titulo de Coleccion",
                  "default": "Escribe titulo de coleccion"
                }
              ],
              "blocks": [
                {
                  "name": "Products",
                  "type": "product",
                  "settings": [
                    {
                      "type": "product",
                      "id": "collection_product",
                      "label": "Product"
                    }
                  ]
                }
              ]
            }
            {% endschema %}
  
  <script src="{{ 'smart-collection-dist.js' | asset_url }}" defer></script>